body{
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 5px ;
}

.message{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 16px;
    
}
p{
    font-style: italic;
    font-weight: bolder;
}

